<mdb-card class="rgba-yellow-light">    
        <mdb-card-body>
          <mdb-card-text class="text-black-50">
                <table>                      
                        <tbody>
                            <tr>                    
                              <td width="20%"><i class="fas fa-money-check-alt"></i></td>
                              <td width="50%"> Current Total Balance</td>  
                              <td width="30%"><h1> 136</h1></td> 
                                                
                            </tr>
                        </tbody>                            
                </table> 
                <button type="button " mdbBtn size="sm" rounded="true" class="centurionBlue text-white text-align right"  [disabled]="!listCart.length" >Add Tokens</button>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>

 <mdb-card class="mt-4  rgba-green-slight" *ngIf="widget">      
        <mdb-card-body>
          <mdb-card-text class="text-black-50">
                <table>                      
                        <tbody>
                            <tr>                    
                              <td width="20%"><i class="fas fa-bell"></i></td>
                              <td width="50%"> 5 items in my cart</td>                             
                              <td width="30%"> <button type="button " mdbBtn size="sm" rounded="true" class="centurionBlue text-white" routerLink="/checkout" [disabled]="!listCart.length" >Checkout</button>
                              </td>                      
                            </tr>
                        </tbody>                            
                </table>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>

      

      <mdb-card class="mt-4 blue lighten-4" >    
            <mdb-card-body>
                        <table>                      
                                <tbody>
                                    <tr>                    
                                      <td width="20%"><i class="fa fa-star" aria-hidden="true">  </i></td>
                                      <td width="50%">Score Card</td>                                                                                    
                                    </tr>
                                </tbody>                            
                        </table>   
              <mdb-card-text class="text-black-50">
                    <table>                      
                            <tbody>
                                <tr>                    
                                  <td width="20%"><span class="aa">&#65;</span></td>                                
                                  <td width="80%">Identify all third-party libraries used by the binary and analyze if they raise any security, license or operational risk.  </td>                                                     
                                </tr>
                            </tbody>                            
                    </table>
             </mdb-card-text>
            </mdb-card-body>
          </mdb-card>

          <mdb-card class="mt-4 rgba-yellow-light">    
                <mdb-card-body>
                        <table>                      
                                <tbody>
                                    <tr>                    
                                      <td width="20%">   <i class="fa fa-file" aria-hidden="true"> </i></td>
                                      <td width="50%">History</td>                                                                                    
                                    </tr>
                                </tbody>                            
                        </table> 
                  <mdb-card-text class="text-black-50">
                        <table mdbTable>                      
                                <thead>
                                    <tr>                    
                                      <th style="text-align:center"> ID</th>
                                      <th>Item</th>
                                      <th>Status</th>
                                      <th style="text-align:center"></th>                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                          <td>1 </td>
                                          <td>aa</td>
                                          <td>  Pending</td>
                                          <td>  aa</td>
                                    </tr>
                                    <tr>
                                          <td>1</td>
                                          <td>aa</td>
                                          <td>In Progress</td>
                                          <td>  aa</td>
                                    </tr>
                                    <tr>
                                          <td>2</td>
                                          <td>aa</td>
                                          <td>Done</td>
                                          <td>  aa</td>
                                    </tr>
                                </tbody>
                            </table>
                         </mdb-card-text>
                </mdb-card-body>
              </mdb-card>