<app-header-new></app-header-new>
<div class="container-fluid">
   <div class="row">
      <div class="col col-9">
         <mdb-card>
            <mdb-card-header class="centurionBlue h5 text-white">
              <mdb-icon fas icon="cash-register" class="pr-1"></mdb-icon>
              Checkout
            </mdb-card-header>
            <mdb-card-body>
              <mdb-card-text>
                <div class="container">
                  <div class="mt-4 row">

                        <div class="row">
                          <div class="col-12"><p class="text-body">Please select the payment method:</p></div>

                        </div>
                  </div>


<div class="mt-3 row"></div>
<div class="row">

<div class ="col-4">
<input type="radio" class="form-check-input" id="individual" name="individual" disabled mdbInput>
<label class="form-check-label" for="individual">Individual</label>
 <div class="row">
    <div class ="col-1"></div>
    <div class ="col-8" style="font-size:small">Payment using my wallet</div>
 </div>
</div>



<div class ="col-8">
 <input type="radio" class="form-check-input" id="company" name="company" checked disabled mdbInput>
 <label class="form-check-label disabled" for="company">Company <br>
    <div  style="font-size:small">Payment made using company's e-wallet system
              <span><br> *Subject to approval by Account Manager</span></div>

  </label>

</div>
</div>





<!-- Individual -->
<div *ngIf="type==='Individual'">

  <div class="col-sm-12 mt-2">
    <div class="row">
      <div class ="col-sm-1"></div>
      <div class ="col-sm-3">Items:</div>
      <div class ="col-sm-7">1</div>
    </div>

    <div class="row">
        <div class ="col-sm-1"></div>
        <div class ="col-sm-3">Delivered by:</div>
        <div class ="col-sm-7">7 Working Days After Date of Approval</div>
    </div>

    <div class="row">
        <div class ="col-sm-1"></div>
        <div class ="col-sm-3">Total Tokens:</div>
        <div class ="col-sm-7">{{totalPrice}}</div>
    </div>
  </div>

</div>

<!-- company -->
<div *ngIf="type==='company'">

  <div class="mt-4 row">

        <div class="row">
          <!-- <div class="col-12">Please complete the form below:</div> -->
          <div class="col-12"><p class="text-body">Company Approval:</p></div>

        </div>
  </div>



<div class="mt-3 row"></div>

<form [formGroup]="validatingForm">

    <div class="row">
      <div class ="col-sm-1"></div>
      <div class ="col-sm-3">Company:</div>
      <div class ="col-sm-6">TM</div>
    </div>

    <div class="row">
      <div class ="col-sm-1"></div>
      <div class ="col-sm-3">Division:</div>
      <div class ="col-sm-6">{{acctManagerOrgName}}</div>
    </div>

    <div class="row">
      <div class ="col-sm-1"></div>
      <div class ="col-sm-3">Person in Charge (PIC):</div>
      <div class ="col-sm-6">{{acctManagerName}}</div>
    </div>

    <div class="row mt-4">
      <div class ="col-sm-1"></div>
      <div class ="col-sm-3"></div>


        <div class ="col-sm-7"><p class="text-body">Please provide project's name and description below:</p>
         <div class="md-form md-outline">
          <input mdbInput mdbValidate type="text" id="projectname" class="md-textarea form-control" formControlName="projectname" maxlength="30" required="required">
          <label for="projectname" class="">Project  Name</label>
          <mdb-error *ngIf="projectname.invalid && (projectname.dirty || projectname.touched)">Project Name is required</mdb-error>
        </div>
      </div>

    </div>

    <div class="row">
      <div class ="col-sm-1"></div>
      <div class ="col-sm-3"></div>

      <div class ="col-sm-7">
       <div class="md-form md-outline">
          <input value ="true" mdbInput mdbValidate type="text" id="projectdesc" class="md-textarea form-control" formControlName="projectdesc" maxlength="80" required="required">
          <label for="projectdesc" class="">Project  Description</label>
          <mdb-error *ngIf="projectdesc.invalid && (projectdesc.dirty || projectdesc.touched)">Project Description is required</mdb-error>
        </div>
      </div>
    </div>


  <div class="row"><p class="text-body">Order Review:</p></div>


    <div class="col-sm-12 mt-2">
      <div class="row">
        <div class ="col-sm-1"></div>
        <div class ="col-sm-3">Items:</div>
        <div class ="col-sm-7">1</div>
      </div>

      <div class="row">
          <div class ="col-sm-1"></div>
          <div class ="col-sm-3">Delivered by:</div>
          <div class ="col-sm-7">7 Working Days After Date of Approval</div>
      </div>

      <div class="row">
          <div class ="col-sm-1"></div>
          <div class ="col-sm-3">Total Tokens:</div>
          <div class ="col-sm-7">{{totalPrice}}</div>
      </div>
    </div>
</form>







<!-- <mdb-checkbox (change)= "Accept($event)" [disabled]="(!(projectname.valid && (projectname.dirty || projectname.touched))) || (!(projectdesc.valid && (projectdesc.dirty || projectdesc.touched)))">I hereby acknowledged that I have read and agree to the <a href="https://osesuat.tm.com.my/oses/TermCondition.jsp" target="_blank">Terms and Conditions</a>.</mdb-checkbox> -->
<div class="mt-5 row">
<div class="container-fluid">

<div class="row">
  <div class="col-auto mr-auto"></div>
  <div class="col-auto">
<mdb-checkbox (change)= "Accept($event)" [disabled]="(!(projectname.valid && (projectname.dirty || projectname.touched))) || (!(projectdesc.valid && (projectdesc.dirty || projectdesc.touched)))">I hereby acknowledged that I have read and agree to the <a href="https://osesuat.tm.com.my/oses/TermCondition.jsp" target="_blank">Terms and Conditions</a>.</mdb-checkbox>
  </div>
</div>

<div class="d-flex align-items-stretch"></div>

</div>

</div>

</div>
</div>

              </mdb-card-text>
            </mdb-card-body>
         </mdb-card>
        <button type="button" mdbBtn rounded="true" class="mt-4 centurionBlue text-white mx-auto d-block col-3" (click)="btnPlaceOrder()" [disabled]="!marked || (!(projectname.valid && (projectname.dirty || projectname.touched))) || (!(projectdesc.valid && (projectdesc.dirty || projectdesc.touched)))">PLACE ORDER</button>
      </div>

      <div class="col">
          <app-widget [widget]="false"></app-widget>
      </div>
  </div>
</div>
