<app-header-new></app-header-new>
<div class="container-fluid">

  <div class="row">
    <div class="col col-9">
      <mdb-card >
        <mdb-card-header class="centurionDarkBlue h5 text-white">
          <mdb-icon fas icon="receipt" class="pr-1"></mdb-icon>
       

          Account Manager
        </mdb-card-header>
        <mdb-card-body>
          <mdb-card-text>
             

                                              <table mdbTable #tableEl="mdbTable">
                                                 <thead>
                                                <tr class="text-center">
                                                    <th *ngFor="let head of headElements; let i = index" scope="col" class="font-weight-bolder">{{head}}
                                                    </th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                  <tr class="align-middle" *ngFor="let el of myListTokenUsage; let i = index; " class="text-center"  >
                                                    <td class="align-middle" class="orderId" 
                                                        *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                                        {{el.user}}
                                                    </td>
                                                    <td class="align-middle" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.name}}</td>
                                                    <td class="align-middle" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                                      <span class="text-danger" *ngIf="el.action == 'deduct'">{{el.amount}}</span>
                                                      <span class="text-success" *ngIf="el.action == 'topup'">{{el.amount}}</span>
                                                    
                                                    </td>
                                                    <td class="align-middle" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                                      <mdb-badge
                                                      pill="true"
                                                      [danger]="el.action == 'deduct'"
                                                      [success]="el.action == 'topup' ">
                                                      {{el.action}}
                                                    </mdb-badge>                                                                                                    
                                                    
                                                    </td>
                                                    <td class="align-middle" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.dateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                  
                                        
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                  <td colspan="7">
                                                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="myListTokenUsage"></mdb-table-pagination>
                                                  </td>
                                                </tr>
                                                </tfoot>
                                              </table>                                 
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col">
             <mdb-card class="">
                <mdb-card-header class="h5 text-black font-weight-bold">
                  <mdb-icon fas icon="hand-holding-usd" class="pr-1"></mdb-icon>
                    Token Balance
                </mdb-card-header>
                    <mdb-card-body class="py-0">
                      <table mdbTable borderless="true" small="true" class="mt-0">
                        <tbody>
                        <tr>
                          <td colspan="2" class="text-black-50 pb-0">Credits available to perform scanning</td>
                        </tr>
                        <tr>                        
                            <td class="align-middle"><span class="h1 font-weight-bold">{{tokenAmount}}</span></td>
                            <td class="align-middle text-right"><button type="button " mdbBtn size="sm" rounded="true" class="centurionOrange text-white" text-white (click)="topupToken(); myModal.show()" >Topup Token</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </mdb-card-body>
                  </mdb-card>
    </div>
  </div>
</div>
<br />

<div mdbModal #myModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  
      <div class="modal-body text-center">
        Successfully topup 100 token <br> Your current token balance : {{tokenAmount}} <hr>
        <button type="button " mdbBtn  rounded="true" class="centurionBlue text-white" (click)="myModal.hide()" mdbWavesEffect>Close</button>
      
      </div>

    </div>
  </div>