.myText {
  font-size: 1.25rem;
}

.text-primary {
  color: #1a2644;  
}

#solution, #product, #pricing, #contact {
  height: 100vh;
}

.myPricing, .mySolution {
  background-color: white;
}

.myProduct, .myContact {
  background-color: #e1f5fe;
}

.navbar-nav .nav-link.active {
  background-color: lightblue;
}

/*
#area-home {
  background-image: url("../../assets/images/banner-1.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  height: 100vh;
}

.view {
  background: url("../../assets/images/banner-1.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  background-color: transparent;
}

.navbar .nav-link.active {
  background-color: lightblue;
}

.top-nav-collapse {
  background-color: #ff9200;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #ff9200;
  }
}

#area-about, #solution {
  background-color: beige;
  height: 100vh;
}

#area-reviews, #product {
  background-color: honeydew;
  height: 100vh;
}

#area-faq, #pricing {
  background-color: beige;
  height: 100vh;
}

#area-contact, #contact {
  background-color: honeydew;
  height: 100vh;
}

.myBanner {
  background-color: white;
}

.section {
  height: 100vh;
}
.mdb-scrollspy {
  display: block;
  position: fixed;
  top: 0 !important;
  right: 0;
  li {
    display: block;
    padding: 1rem 1rem;
    &:first-child {
      padding-top: 0.5rem;
    }
    &:last-child {
      padding-bottom: 0.5rem;
    }
    a {
      &.active {
        font-weight: bold;
        background-color: aquamarine;
      }
    }
  }
}
*/
