.forgot-password {
  color: rgba(254,120,87,1);
}

#loginPage {
  background-image: url("../../assets/images/banner-1.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  height: 100vh;
}
