<div class="d-flex justify-content-center align-items-center vh-100 centurionBlue">
  <div class="col-md-4">
    <img src="../../assets/images/centurionlogo3.png" class="mb-5 mx-auto d-block" height="48" />
    <mdb-card cascade="true" narrower="true">
      <div class="view view-cascade gradient-card-header centurionDarkBlue">
        <h2 class="card-header-title">Login</h2>
      </div>
      <mdb-card-body>
        <form [formGroup]="validatingForm">
          <div class="md-form md-outline">
            <mdb-icon fas icon="user" class="prefix"></mdb-icon>
            <input mdbInput mdbValidate type="text" id="username" class="form-control" formControlName="username">
            <label for="username">Username</label>
            <mdb-error *ngIf="username.invalid && (username.dirty || username.touched)">Username is required</mdb-error>
            <!-- <mdb-success *ngIf="input.valid && (input.dirty || input.touched)">Input valid</mdb-success> -->
          </div>

            <div class="md-form md-outline">
            <mdb-icon fas icon="key" class="prefix"></mdb-icon>
            <input mdbInput mdbValidate type="password" id="password" class="form-control" formControlName="password">
            <label for="password">Password</label>
            <mdb-error *ngIf="password.invalid && (password.dirty && password.touched)">Password is required</mdb-error>
            <!-- <mdb-success *ngIf="input.valid && (input.dirty || input.touched)">Input valid</mdb-success> -->

          </div>
        </form>
        
        <button *ngIf="!loading" type="button" [disabled]="marked ||  !((username.valid && (username.dirty || username.touched)) && (password.valid && (password.dirty && password.touched))) " mdbBtn rounded="true" class="centurionOrange text-white col-6 mx-auto d-block" (click)="handleLogin()">Login
        </button>
        
          <div class="d-flex justify-content-center">  
            <span><mdb-spinner *ngIf="loading" spinnerColor="blue"></mdb-spinner></span>
          </div> 
              
        <p class="text-center">
          <a class="forgot-password" href="https://idss.tm.com.my">Forgot password?</a>
        </p>

        <!-- <a mdbBtn color="warning" class="waves-light" (click)="showWarning()" mdbWavesEffect>Warning message</a> -->

      </mdb-card-body>
    </mdb-card>
    <p class="text-white-50 text-center mt-5">Innovation by TM RND</p>
  </div>

</div>
