<app-header></app-header>
<mdb-card class="m-3">
  <mdb-card-header class="yellow accent-4 h5">Request Scanning</mdb-card-header>
  <mdb-card-body>

    <mat-horizontal-stepper linear labelPosition="bottom">
      <mat-step [stepControl]="myRequestForm">
        <form [formGroup]="myRequestForm">
          <ng-template matStepLabel>Scan Type</ng-template>
          <mdb-card-text>Please choose the type of scan</mdb-card-text>
          <br />
          <mat-radio-group formControlName="scanType">
            <div class="card-deck">
              <div class="card mb-4 testCard" mdbWavesEffect (click)="updateScanType('source_code')">
                <div class="card-header"><mat-radio-button value="source_code">Source Code</mat-radio-button></div>
                <div class="card-body">Please put the source code scanning description here</div>
              </div>

              <div class="card mb-4 testCard" mdbWavesEffect (click)="updateScanType('mobile_app')">
                <div class="card-header"><mat-radio-button value="mobile_app">Mobile Application</mat-radio-button></div>
                <div class="card-body">Please put the mobile application scanning description here</div>
              </div>

              <div class="card mb-4 testCard" mdbWavesEffect (click)="updateScanType('web_app')">
                <div class="card-header"><mat-radio-button value="web_app">Web Application</mat-radio-button></div>
                <div class="card-body">Please put the web application scanning description here</div>
              </div>
            </div>
          </mat-radio-group>
          <div>
            <button type="button" mdbBtn color="danger" matStepperPrevious disabled>Prev</button>
            <button type="button" mdbBtn color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="myRequestForm">
        <form [formGroup]="myRequestForm">
          <ng-template matStepLabel>Delivery Method</ng-template>
          <mdb-card-text>You need to choose between these two delivery method to share your code to our platform to
            perform the scanning</mdb-card-text>
          <br />
          <mat-radio-group formControlName="type">
            <div class="card-deck">
              <div class="card mb-4 testCard" mdbWavesEffect (click)="updateType('repo')">
                <div class="card-header"><mat-radio-button value="repo">Repo</mat-radio-button></div>
                <div class="card-body">Please put the source code scanning description here</div>
              </div>

              <div class="card mb-4 testCard" mdbWavesEffect (click)="updateType('file')">
                <div class="card-header"><mat-radio-button value="file">File</mat-radio-button></div>
                <div class="card-body">Please put the mobile application scanning description here</div>
              </div>

            </div>
          </mat-radio-group>
          <div>
            <button type="button" mdbBtn color="danger" matStepperPrevious>Prev</button>
            <button type="button" mdbBtn color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="myRequestForm">
        <form [formGroup]="myRequestForm">
          <ng-template matStepLabel>Programming Language</ng-template>
          <mdb-card-text>Tell us a bit about the programming language of this application. For some language that needs
            to be compiled like Java and C++, you may need to provide the build command.
          </mdb-card-text>
          <br />
          <div class="myForm">
            <mat-form-field>
              <mat-label>Select Language</mat-label>
              <mat-select formControlName="programLanguage" (selectionChange)="updateProgramLanguage($event)">
                <mat-option value="others" attr.data-compile="false">Others</mat-option>
                <mat-option *ngFor="let theLanguage of listProgramLanguage"
                            value="{{theLanguage.name}}">{{theLanguage.label}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Build Command</mat-label>
              <input matInput placeholder="Please key in the command to build the project"
                     formControlName="buildCommand" />
            </mat-form-field>
          </div>
          <div>
            <button type="button" mdbBtn color="danger" matStepperPrevious>Prev</button>
            <button type="button" mdbBtn color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="myRequestForm">
        <form [formGroup]="myRequestForm">
          <ng-template matStepLabel>Optional Services</ng-template>
          <mdb-card-text>Please select optional services for this application. The CONTINUOUS SCANNING option is only
            applicable for the repo based application</mdb-card-text>
          <div>
            <button type="button" mdbBtn color="danger" matStepperPrevious>Prev</button>
            <button type="button" mdbBtn color="primary" matStepperNext>Add To Cart</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>

    <button routerLink="/page2">Prev</button>
    <button routerLink="/page1">Next</button>
  </mdb-card-body>
</mdb-card>
<br />
<br />
