<app-header></app-header>
<!--
<mdb-card class="m-3">
  <mdb-card-header class="yellow accent-4 h5">Request Scanning</mdb-card-header>
  <mdb-card-body>
    <form [formGroup]="myRequestForm">
      <mat-radio-group formControlName="scanType">
        <div class="card-deck">
          <div class="card mb-4 testCard" mdbWavesEffect (click)="updateSelection('source_code')">
            <div class="card-header"><mat-radio-button value="source_code">Source Code</mat-radio-button></div>
            <div class="card-body">Please put the source code scanning description here</div>
          </div>

          <div class="card mb-4 testCard" mdbWavesEffect (click)="updateSelection('mobile_app')">
            <div class="card-header"><mat-radio-button value="mobile_app">Mobile Application</mat-radio-button></div>
            <div class="card-body">Please put the mobile application scanning description here</div>
          </div>

          <div class="card mb-4 testCard" mdbWavesEffect (click)="updateSelection('web_app')">
            <div class="card-header"><mat-radio-button value="web_app">Web Application</mat-radio-button></div>
            <div class="card-body">Please put the web application scanning description here</div>
          </div>
        </div>
      </mat-radio-group>
    </form>
    <button disabled>Prev</button>
    <button routerLink="/page2">Next</button>
  </mdb-card-body>
</mdb-card>
-->
<div class="container">
  <div class="row">
    <mdb-stepper #stepper [linear]="true" (stepChange)="handleStepChange()">
  <mdb-step name="Scan" label="Type" [stepForm]="myRequestForm">
    <form [formGroup]="myRequestForm">
      <mdb-card-text>Please select the Type of Scan</mdb-card-text>
      <div class="card-deck">
        <mdb-card class="m-3">
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/images/source-code.jpg"></mdb-card-img>
          </div>
          <mdb-card-body class="text-center">
            <h4 class="card-title">Source Code</h4>
            <mdb-card-text>Analyze the source code for security and quality issues</mdb-card-text>
          </mdb-card-body>
        </mdb-card>

        <mdb-card class="m-3">
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/images/mobile-app.jpg" ></mdb-card-img>
          </div>
          <mdb-card-body class="text-center">
            <h4 class="card-title">Binary Application</h4>
            <mdb-card-text>Analyzing the Mobile Application, Firmware or executables to identify the security vulnerabilities and
              licensing term of open source components in the application</mdb-card-text>
          </mdb-card-body>
        </mdb-card>

        <mdb-card class="m-3">
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/images/web-app.jpg"></mdb-card-img>
          </div>
          <mdb-card-body cascade="true" class="text-center">
            <h4 class="card-title">Web Application</h4>
            <mdb-card-text>Perform dynamic analysis on the web portal. The testing is intrusive, so it is recommended not
              to perform on a production system</mdb-card-text>
          </mdb-card-body>
        </mdb-card>


        <!--
          <mdb-card class="m-3" (click)="updateScanType('source_code')">
            <mdb-card-header class="custom-control custom-radio">
              <span class="ml-3">&nbsp;</span>
              <input type="radio" class="custom-control-input" id="typeSourceCode" name="scanType"
                     value="source_code" formControlName="scanType">
              <label for="typeSourceCode" class="custom-control-label">Source Code</label>
            </mdb-card-header>
            <mdb-card-body>
              <mdb-card-text>
                Analyze the source code for security and quality issues
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
          <mdb-card class="m-3" (click)="updateScanType('mobile_app')">
            <mdb-card-header class="custom-control custom-radio">
              <span class="ml-3">&nbsp;</span>
              <input type="radio" class="custom-control-input" id="typeMobileApp" name="scanType"
                     value="mobile_app" formControlName="scanType">
              <label for="typeMobileApp" class="custom-control-label">Binary Application</label>
            </mdb-card-header>
            <mdb-card-body>
              <mdb-card-text>
                Analyzing the Mobile Application, Firmware or executables to identify the security vulnerabilities and
                licensing term of open source components in the application
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
          <mdb-card class="m-3" (click)="updateScanType('web_app')">
            <mdb-card-header class="custom-control custom-radio">
              <span class="ml-3">&nbsp;</span>
              <input type="radio" class="custom-control-input" id="typeWebApp" name="scanType"
                     value="web_app" formControlName="scanType">
              <label for="typeWebApp" class="custom-control-label">Web Application</label>
            </mdb-card-header>
            <mdb-card-body>
              <mdb-card-text>
                Perform dynamic analysis on the web portal. The testing is intrusive, so it is recommended not
                to perform on a production system
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        -->
      </div>
    </form>
  </mdb-step>
  <mdb-step name="Delivery" label="Method" [stepForm]="myRequestForm">
    <form [formGroup]="myRequestForm">
      <mdb-card-text>Please specify how to provide the scanning item to Centurion platform</mdb-card-text>
      <div class="card-deck">
        <mdb-card class="m-3" *ngIf="flagShowRepo" (click)="updateDeliveryMethod('repo')">
          <mdb-card-header class="custom-control custom-radio">
            <span class="ml-3">&nbsp;</span>
            <input type="radio" class="custom-control-input" id="typeRepo" name="type" value="repo" formControlName="type">
            <label for="typeRepo" class="custom-control-label">GIT Repository</label>
          </mdb-card-header>
          <mdb-card-body>
            <div class="md-form md-outline">
              <input type="text" id="inputRepoURL" class="form-control" mdbInput>
              <label for="inputRepoURL">Source Code Repository</label>
            </div>
            <div class="md-form md-outline">
              <mdb-select [options]="tempAccessToken" placeholder="Select an Access Token"
                          outline="true" label="Access Token"></mdb-select>
              <button mdbBtn color="link" class="pl-0"
                      data-toggle="modal" data-target="#basicExample"
                      (click)="frame.show()" >Click here to add new Access Token</button>
            </div>
          </mdb-card-body>
        </mdb-card>

        <mdb-card class="m-3" *ngIf="flagShowUpload" (click)="updateDeliveryMethod('file')">
          <mdb-card-header class="custom-control custom-radio" *ngIf="flagShowRepo; else elseUploadTitle">
            <span class="ml-3">&nbsp;</span>
            <input type="radio" class="custom-control-input" id="typeUpload" name="type" value="file" formControlName="type">
            <label for="typeUpload" class="custom-control-label">Upload</label>
          </mdb-card-header>
          <ng-template #elseUploadTitle><mdb-card-header>Upload</mdb-card-header></ng-template>
          <mdb-card-body>
            <mdb-file-upload (fileRemoved)="onFileRemove()" (fileAdded)="onFileAdd($event)"></mdb-file-upload>
          </mdb-card-body>
          <ng-template #progressUpload>
            <mdb-card-body>
              <mdb-progress value="35" min="0" max="100" type="success" aria-valuenow="35" aria-valuemin="0"
                            aria-valuemax="100"></mdb-progress>
              Upload Progress: 35%
            </mdb-card-body>
          </ng-template>
        </mdb-card>

        <mdb-card class="m-3" *ngIf="flagShowWeb">
          <mdb-card-header>Web Configuration</mdb-card-header>
          <mdb-card-body>
            <p>This section will be updated in MILESTONE 3</p>
          </mdb-card-body>
        </mdb-card>
      </div>
    </form>
  </mdb-step>
  <mdb-step name="Analysis" [stepForm]="myRequestForm">
    <form [formGroup]="myRequestForm">
      <mdb-card-text>Please wait while we analysing your scan item (Progress: {{progressCount}})</mdb-card-text>
      <div class="progress">
        <div class="progress-bar"
             role="progressbar" [style.width]="progressCount"
             aria-valuenow="10"
             aria-valuemin="0"
             aria-valuemax="100"></div>
      </div>
    </form>
  </mdb-step>
  <mdb-step name="Programming" label="Language" [stepForm]="myRequestForm">
    <form [formGroup]="myRequestForm">
      <mdb-card-text>Please specify the programming language used </mdb-card-text>
      <div class="md-form md-outline">
        <mdb-select [options]="optProgLangList" placeholder="Select Programming Language"
                    formControlName="programLanguage" id="inputProgramLang"
                    outline="true" label="Programming Language"></mdb-select>
      </div>
      <div class="md-form md-outline">
        <input type="text" id="inputBuildCmd" class="form-control" mdbInput formControlName="buildCommand">
        <label for="inputBuildCmd">Build Command</label>
      </div>
    </form>
  </mdb-step>
  <mdb-step name="Optional" label="Services" [stepForm]="myRequestForm">
    <form [formGroup]="myRequestForm">
      <mdb-card-text>Please select optional services for this scan</mdb-card-text>
      <div class="custom-control custom-checkbox">
        <mdb-checkbox [checked]="true">Security Vulnerability</mdb-checkbox>
        <mdb-checkbox>Android</mdb-checkbox>
        <mdb-checkbox>Web Application</mdb-checkbox>
        <mdb-checkbox>Continuous Scan</mdb-checkbox>
      </div>

    </form>
  </mdb-step>
</mdb-stepper>
  </div>
</div>
