/* You can add global styles to this file, and also import other style files */
//@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
  font-family: 'InterFace';
  src: url('assets/fonts/Dalton Maag - InterFace.ttf') format('truetype');
}


@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: 'InterFace', sans-serif;
}

.centurionDarkBlue {
  background-color: #141a48;
}

.centurionBlue {
  background-color: #2274f8;
}

.centurionOrange {
  background-color: #ff9200;
}
