/* You can add global styles to this file, and also import other style files */
//@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
  font-family: 'InterFace';
  src: url('assets/fonts/Dalton Maag - InterFace.ttf') format('truetype');
}

body {
  font-family: 'InterFace', sans-serif;
  background-color: #f7f7f7;
}

.centurionDarkBlue {
  background-color: #141a48;
}

.centurionBlue {
  background-color: #2274f8;
}

.centurionOrange {
  background-color: #ff9200;
}
