<app-header-new></app-header-new>
<div class="container-fluid">

  <div class="row">
    <div class="col ">
      <mdb-card >
        <mdb-card-header class="centurionBlue h5 text-white">
          <mdb-icon fas icon="tachometer-alt" class="pr-1"></mdb-icon>
          My Account
        </mdb-card-header>
        <mdb-card-body>
            <div class="card-deck mt-4 ml-4 mr-4">
                <mdb-card >
                    <mdb-card-header class="h5 text-black font-weight-bold">
                      <mdb-icon fas icon="hand-holding-usd" class="pr-1"></mdb-icon>
                        Token Balance
                    </mdb-card-header>
                        <mdb-card-body class="py-0 align-middle">
                          <table mdbTable borderless="true" small="true" class="mt-2">
                            <tbody>
                              <tr>
                                <td class="align-middle"><span class="h1 font-weight-bold">{{tokenAmount}}</span></td>
                                <td class="align-middle text-right"><button type="button " mdbBtn size="sm" rounded="true" class="centurionBlue text-white" disabled>Add Tokens</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </mdb-card-body>
                      </mdb-card>

                      <mdb-card class="">
                          <mdb-card-header class="h5 text-black font-weight-bold">
                              <mdb-icon fas icon="qrcode" class="pr-1"></mdb-icon>
                              Scan
                          </mdb-card-header>
                              <mdb-card-body class="py-0">
                                  <table mdbTable borderless="true" small="true" class="my-0 mt-2">
                                      <tbody>
                                        <tr>
                                          <td class="align-middle"></td>
                                          <td class="align-middle">Sucessfull Scan</td>
                                          <td class="text-right">
                                           <h1> 114 </h1>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                              </mdb-card-body>
                            </mdb-card>

                <mdb-card class="">
                    <mdb-card-header class="h5 text-black font-weight-bold">
                        <mdb-icon fas icon="shopping-cart" class="pr-1"></mdb-icon>
                        Cart
                    </mdb-card-header>
                        <mdb-card-body class="py-0">
                            <table mdbTable borderless="true" small="true" class="my-0 mt-2">
                                <tbody>
                                  <tr>
                                    <td class="align-middle"><i class="fas fa-bell"></i></td>
                                    <td class="align-middle">You have {{cartCount}} items in cart</td>
                                    <td class="text-right">
                                      <button type="button " mdbBtn size="sm" rounded="true" class="centurionBlue text-white" routerLink="/checkout" [disabled]="!cartCount" >Checkout</button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </mdb-card-body>
                      </mdb-card>
              </div>

              <!--second row-->

              <div class="card-deck mt-4 m-4 ml-4 mr-4">
                  <mdb-card class="mt-4 light-blue lighten-3" >
                      <mdb-card-header class="h5 text-black font-weight-bold">
                          <i class="fa fa-star" aria-hidden="true">  </i>  	&nbsp; 	&nbsp;Score Card
                      </mdb-card-header>
                        <mdb-card-body>
                                <table>
                                        <tbody>
                                            <tr>
                                              <td width="20%"><span class="aa">&#65;</span></td>
                                              <td width="80%">Identify all third-party libraries used by the binary and analyze if they raise any security, license or operational risk.  </td>
                                            </tr>
                                        </tbody>
                                </table>

                        </mdb-card-body>
                      </mdb-card>

                      <mdb-card class="mt-4 amber accent-1 myRecentRequest" routerLink="/order-history" >
                          <mdb-card-header class="h5 text-black font-weight-bold">
                              <i class="fa fa-file" aria-hidden="true"> </i>  	&nbsp; 	&nbsp;Recent Request
                          </mdb-card-header>
                            <mdb-card-body>

                              <mdb-card-text class="text-black-50" >
                                    <table mdbTable small="true" hover="true">
                                            <thead>
                                                <tr class="text-center">
                                                  <th style="text-align:center">ID</th>
                                                  <th>Project</th>
                                                  <th>Status</th>
                                                  <th>Report</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let order of myListOrder.slice(0,3); let i = index" class="text-center">
                                                <td>{{order.id}}</td>
                                                <td>{{order.project}}</td>
                                                <td><mdb-badge
                                                  pill="true"
                                                  [success]="order.status == 'done'"
                                                  [warning]="order.status == 'scanning' || order.status == 'approved'"
                                                  [danger]="order.status == 'follow up'">
                                                  {{order.status}}
                                                </mdb-badge></td>
                                                <td><i class="far fa-file"></i></td>
                                              </tr>
                                            </tbody>
                                        </table>
                                     </mdb-card-text>
                            </mdb-card-body>
                          </mdb-card>
                    <div class="col col-4" >

                    </div>
                </div>
        </mdb-card-body>
      </mdb-card>
    </div>

  </div>
</div>
<br />


