<app-header-new></app-header-new>
<mdb-card class="m-3">
  <mdb-card-header class="yellow accent-4 h5">Ticket</mdb-card-header>
  <mdb-card-body>
        <div class="clearHeader"></div>
        <div class="container">
          <div class="row">
            <div class="d-flex justify-content-center col-12">
              <h1 class="title">Thank You!</h1>
            </div>
          </div>
          <div class="row">
            <div class="d-flex justify-content-center col-12">
              <h3>Order ID: {{ticketList}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="d-flex justify-content-center mt-3 col-12">
              <div class="text-center">
                <p>We are passionate about securing your apps.</p>
                <p>Your assessment request is currently being processed - we will send you an alert once it is completed.</p>
                <p>You can check the status of all your requests in the <b>My Account</b> page. You may also create a new request at any time.</p>
              </div>
            </div>
          </div>

        </div>
<!-- <mdb-card-text>We shall populate the content of Ticket here</mdb-card-text> -->
  </mdb-card-body>
</mdb-card>
<div class="container">
<div class="row">
  <div class="d-flex justify-content-center mt-3 col-12">
    <a mdbBtn type="button" class="btn btn-success text-uppercase px-md-5 font-weight-bold col-3" routerLink="/my-account" rounded="true" mdbWavesEffect>My Account</a>
    <span>&nbsp;&nbsp;</span>
    <a mdbBtn type="button" class="btn btn-outline-danger text-uppercase px-md-5 font-weight-bold col-3" rounded="true" outline="true" mdbWavesEffect routerLink="/scan-request">Create New Request</a>
  </div>
</div>
</div>
