<mdb-navbar SideClass="navbar navbar-expand-lg z-depth-0" [containerInside]="false">
  <mdb-navbar-brand>
    <div class="navbar-brand">
      <img src="../../assets/images/centurionlogo.png" class="home" height="32" routerLink="/dashboard" />
    </div>
  </mdb-navbar-brand>

  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item hoverable" routerLink="/dashboard">
        <span class="nav-link" mdbTooltip="Dashboard" placement="bottom">
          <mdb-icon fas icon="home"></mdb-icon>
        </span>
      </li>
      <li class="nav-item hoverable" routerLink="/scan-request">
        <span class="nav-link" mdbTooltip="New Scan Request" placement="bottom">
          <mdb-icon fas icon="file-medical"></mdb-icon>
        </span>
      </li>
      <li class="nav-item hoverable" routerLink="/my-cart">
        <span class="nav-link" mdbTooltip="Show My Cart" placement="bottom">
          <mdb-icon fas icon="shopping-cart"></mdb-icon>
          <mdb-badge pill="true" danger="true" class="align-text-top">{{cartCount}}</mdb-badge>
        </span>
      </li>
      <li class="nav-item dropdown hoverable" dropdown>
        <div dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light border-left" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span>
        </div>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/my-account">My Account</a>
          <a *ngIf="role ==='acctManager'" class="dropdown-item waves-light" mdbWavesEffect routerLink="/account-manager">Account Manager</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/order-history">Order History</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/dashboard">Dashboard</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="handleLogout()">Log out</a>
        </div>
      </li>
    </ul>
  </links>
</mdb-navbar>
